@charset "UTF-8";

@font-face {
	font-family: 'angella-narrow';
	src: url('../fonts/angella_narrow_demo.woff2') format('woff2'),
		 url('../fonts/angella_narrow_demo.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-size: 100%;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body { background-color: #000; }

.pokeball {
	width: 500px;
	height: 500px;
	margin: 30px auto;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	background-color: #D20000;
}
.pokeball:after {
	content: "";
	width: 100%;
	height: 250px;
	position: absolute;
	left: 0;
	bottom: 0;
	border-radius: 0 0 50% 50%;
	background-color: #fff;
	//box-shadow: -150px 0px 60px #999 inset;
}
.pokeball:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	box-shadow: -40px -40px 60px rgba(0,0,0,.7) inset;
	z-index: 10;
}

.luz {
	width: 40px;
	height: 140px;
	position: absolute;
	top: 40px;
	left: 100px;
	border-radius: 50%;
	transform: rotate(45deg);
	box-shadow: -15px 0 0 0 rgba(255,255,255,.7);
	z-index: 12;
}

.faixa {
	width: 100%;
	height: 23px;
	position: absolute;
	top: 50%;
	left: 0;
	background-color: #060808;
	transform: translate(0,-50%);
	z-index: 2;
}

.circulo-1 {
	width: 174px;
	height: 174px;
	padding: 23px;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	background-color: #060808;
	transform: translate(-50%,-50%);
	z-index: 4;
}
.circulo-2 {
	width: 130px;
	height: 130px;
	padding: 23px;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	background-color: #fff;
	transform: translate(-50%,-50%);
	z-index: 6;
}
.circulo-3 {
	width: 79px;
	height: 79px;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	border: 4px solid #060808;
	background-color: #fff;
	transform: translate(-50%,-50%);
	z-index: 8;
	box-shadow: 7px 7px 10px rgba(0,0,0,.7);
}

.faixa-2,
.faixa-3,
.faixa-4,
.faixa-5 { display: none; }

/* LETREIRO */

h1 {
	font-family: 'angella-narrow', sans-serif;
	font-weight: 400;
	font-size: 60px;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	top: 540px;
	left: 50%;
	transform: translate(-50%,0) scaleX(1.6);
	background: linear-gradient(to bottom, #fff 40%, #D20000 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* GREAT BALL */

.great .pokeball { background-color: #024BBF; }
.great h1 {
	background: linear-gradient(to bottom, #fff 40%, #024BBF 100%);
	-webkit-background-clip: text;
}
.great .faixa-2 {
	width: 70px;
	display: block;
	position: absolute;
	top: 60px;
	left: 70px;
	border-top: 120px solid #B50D10;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	transform: rotate(-50deg);
}
.great .faixa-3 {
	width: 70px;
	display: block;
	position: absolute;
	top: 60px;
	right: 70px;
	border-top: 120px solid #B50D10;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	transform: rotate(50deg);
}

/* ULTRA BALL */

.ultra .pokeball { background-color: #FDD141; }
.ultra h1 {
	background: linear-gradient(to bottom, #fff 40%, #FDD141 100%);
	-webkit-background-clip: text;
}
.ultra .faixa-2 {
	width: 50px;
	height: 150px;
	display: block;
	position: absolute;
	top: 89px;
	left: 0;
	border-bottom: 2px solid #6A6A6A;
	border-right: 3px solid #1E1E1E;
	box-shadow: -3px 0 #6A6A6A inset;
	background-color: #1E1E1E;
}
.ultra .faixa-3 {
	width: 50px;
	height: 150px;
	display: block;
	position: absolute;
	top: 89px;
	right: 0;
	border-bottom: 2px solid #6A6A6A;
	border-left: 3px solid #1E1E1E;
	box-shadow: 3px 0 #6A6A6A inset;
	background-color: #1E1E1E;
}
.ultra .faixa-4 {
	width: 240px;
	height: 160px;
	display: block;
	position: absolute;
	top: 79px;
	left: 50%;
	border-top: 3px solid #1E1E1E;
	border-left: 3px solid #1E1E1E;
	border-right: 3px solid #1E1E1E;
	border-bottom: 2px solid #6A6A6A;
	box-shadow: 3px 3px #6A6A6A inset, -3px 0 #6A6A6A inset;
	background-color: #1E1E1E;
	transform: translate(-50%,0);
}
.ultra .faixa-4:after {
	content: "";
	width: 240px;
	height: 70px;
	display: block;
	position: absolute;
	top: -38px;
	left: -3px;
	border-top: 3px solid #1E1E1E;
	border-left: 3px solid #1E1E1E;
	border-right: 3px solid #1E1E1E;
	box-shadow: 2px 3px #6A6A6A inset, -2px 3px #6A6A6A inset;
	background-color: #1E1E1E;
	border-radius: 50%;
}
.ultra .faixa-4:before {
	content: "";
	width: 240px;
	height: 14px;
	display: block;
	position: absolute;
	top: -5px;
	left: -3px;
	border-left: 3px solid #1E1E1E;
	border-right: 3px solid #1E1E1E;
	box-shadow: 3px 0 #6A6A6A inset, -3px 0 #6A6A6A inset;
	background-color: #1E1E1E;
	z-index: 2;
}

/* SAFARI BALL */

.safari .pokeball { background-color: #617F61; }
.safari h1 {
	background: linear-gradient(to bottom, #fff 0%, #617F61 100%);
	-webkit-background-clip: text;
}
.safari .faixa-2 {
	width: 300px;
	height: 80px;
	display: block;
	position: absolute;
	top: 50px;
	left: 0px;
	border-radius: 80px;
	background-color: #C4944F;
}
.safari .faixa-2:after {
	content: "";
	width: 290px;
	height: 50px;
	display: block;
	position: absolute;
	top: -20px;
	left: 0px;
	border-radius: 50%;
	background-color: #617F61;
}
.safari .faixa-2:before {
	content: "";
	width: 150px;
	height: 80px;
	display: block;
	position: absolute;
	top: 50px;
	right: -40px;
	border-radius: 50%;
	background-color: #617F61;
}
.safari .faixa-3 {
	width: 300px;
	height: 100px;
	display: block;
	position: absolute;
	top: 50px;
	right: -50px;
	border-radius: 80px;
	background-color: #B6B68B;
	transform: rotate(335deg);
}
.safari .faixa-3:after {
	content: "";
	width: 290px;
	height: 50px;
	display: block;
	position: absolute;
	top: -20px;
	left: 0px;
	border-radius: 50%;
	background-color: #617F61;
}
.safari .faixa-3:before {
	content: "";
	width: 150px;
	height: 90px;
	display: block;
	position: absolute;
	top: 50px;
	right: -120px;
	border-radius: 50%;
	background-color: #617F61;
}
.safari .faixa-4 {
	width: 300px;
	height: 50px;
	display: block;
	position: absolute;
	top: 50px;
	left: 20px;
	border-radius: 30px;
	background-color: #F1CF9D;
	transform: rotate(115deg);
}
.safari .faixa-4:after {
	content: "";
	width: 290px;
	height: 50px;
	display: block;
	position: absolute;
	top: -20px;
	left: -10px;
	border-radius: 50%;
	background-color: #617F61;
}
.safari .faixa-4:before {
	content: "";
	width: 150px;
	height: 90px;
	display: block;
	position: absolute;
	top: 50px;
	right: -120px;
	border-radius: 50%;
	background-color: #EDBE81;
}
.safari .faixa-5 {
	width: 210px;
	height: 70px;
	text-indent: -99999px;
	display: block;
	position: absolute;
	top: 50px;
	right: 20px;
	border-radius: 30px;
	background-color: #757548;
	transform: rotate(35deg);
}
.safari .faixa-5:after {
	content: "";
	width: 110px;
	height: 50px;
	display: block;
	position: absolute;
	top: -10px;
	left: -10px;
	border-radius: 50%;
	background-color: #617F61;
}
.safari .faixa-5:before {
	content: "";
	width: 200px;
	height: 50px;
	display: block;
	position: absolute;
	top: 50px;
	right: -120px;
	border-radius: 50%;
	background-color: #C08E46;
}

/* PREMIER BALL */

.premier .pokeball { background-color: #fff; }
.premier h1 {
	background: none;
	-webkit-text-fill-color: inherit;
}
.premier h1:after {
	content: "";
	width: 100%;
	height: 7px;
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	background-color: #F54040;
	transform: translate(0,-50%);
	z-index: -1;
}
.premier .pokeball:after { display: none; }
.premier .faixa,
.premier .circulo-1 {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	background-color: #F54040;
}

/* CHERISH BALL */

.cherish .pokeball {
	overflow: visible;
	background-color: #E64C4C;
}
.cherish .pokeball:after { display: none; }
.cherish h1 {
	background: linear-gradient(to bottom, #fff 0%, #E64C4C 100%);
	-webkit-background-clip: text;
}
.cherish .faixa {
	height: 10px;
	background-color: #402d2d;
}
.cherish .circulo-1 { background-color: #402d2d; }
.cherish .circulo-2,
.cherish .circulo-3 {
	background-color: #E64C4C;
}
.cherish .faixa-2 {
	width: 210px;
	height: 160px;
	display: block;
	position: absolute;
	left: -80px;
	top: 50%;
	border-radius: 80px;
	background-color: #402d2d;
	transform: translate(0,-50%);
	z-index: 2;
}
.cherish .faixa-2:after {
	content: "";
	width: 200px;
	height: 20px;
	display: block;
	position: absolute;
	left: -20px;
	top: 50%;
	border-radius: 70px;
	background-color: #E64C4C;
	transform: translate(0,-50%);
}
.cherish .faixa-2:before {
	content: "";
	width: 160px;
	height: 260px;
	display: block;
	position: absolute;
	left: -50px;
	top: 50%;
	border-radius: 50%;
	background-color: #000;
	z-index: 2;
	transform: translate(0,-50%);
}
.cherish .faixa-3 {
	width: 210px;
	height: 160px;
	display: block;
	position: absolute;
	right: -80px;
	top: 50%;
	border-radius: 80px;
	background-color: #402d2d;
	transform: translate(0,-50%);
	z-index: 2;
}
.cherish .faixa-3:after {
	content: "";
	width: 200px;
	height: 20px;
	display: block;
	position: absolute;
	right: -20px;
	top: 50%;
	border-radius: 70px;
	background-color: #E64C4C;
	transform: translate(0,-50%);
}
.cherish .faixa-3:before {
	content: "";
	width: 160px;
	height: 260px;
	display: block;
	position: absolute;
	right: -50px;
	top: 50%;
	border-radius: 50%;
	background-color: #000;
	z-index: 2;
	transform: translate(0,-50%);
}

/* MASTER BALL */

.master .pokeball { background-color: #5D13B2; }
.master h1 {
	background: linear-gradient(to bottom, #fff 40%, #5D13B2 100%);
	-webkit-background-clip: text;
}
.master .faixa-2 {
	width: 360px;
	height: 360px;
	display: block;
	position: absolute;
	top: -140px;
	left: -160px;
	border-radius: 50%;
	border: 2px solid #8a096c;
	background-color: #B52395;
}
.master .faixa-3 {
	width: 360px;
	height: 360px;
	display: block;
	position: absolute;
	top: -140px;
	right: -160px;
	border-radius: 50%;
	border: 2px solid #8a096c;
	background-color: #B52395;
}
.master .faixa-5 {
	font-family: 'angella-narrow', sans-serif;
	font-size: 135px;
	color: #fff;
	text-shadow: 0px 2px 5px rgba(0,0,0,.7);
	display: block;
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translate(-50%,0) scaleX(1.6);
}

/* IE */

@media screen\0 {
	h1 { background: none !important; }
}