@charset "UTF-8";

@font-face {
	font-family: mario;
	src: url('../fonts/supermariogalaxy.eot');
	src: url('../fonts/supermariogalaxy.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/supermariogalaxy.woff2') format('woff2'),
		 url('../fonts/supermariogalaxy.woff') format('woff'),
		 url('../fonts/supermariogalaxy.ttf') format('truetype'),
		 url('../fonts/supermariogalaxy.svg#supermariogalaxy') format('svg');
	font-weight: bold;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-size: 100%;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body { background-color: #0e1f67; }

.cabeca {
	width: 360px;
	height: 230px;
	margin: 270px auto 50px;
	position: relative;
	background-color: #ee9366;
}
.cabeca:after {
	content: "";
	width: 400px;
	height: 300px;
	position: absolute;
	left: 50%;
	bottom: -130px;
	border-radius: 50%;
	background-color: #ee9366;
	transform: translate(-50%,0);
	z-index: 1;
}
.chapeu {
	width: 445px;
	height: 550px;
	position: absolute;
	top: -198px;
	left: 50%;
	border-radius: 50%;
	border-top: 198px solid #dc0009;
	border-bottom: 198px solid transparent;
	transform: translate(-50%,0);
	z-index: 2;
}
.traseira {
	width: 480px;
	height: 80px;
	position: absolute;
	top: 32px;
	left: 50%;
	border-radius: 50%;
	z-index: -1;
	transform: translate(-50%,0);
}
.traseira:after {
	content: "";
	width: 443px;
	height: 98px;
	position: absolute;
	top: -14px;
	left: 50%;
	border-radius: 50%;
	z-index: -1;
	background-color: #9f110d;
	transform: translate(-50%,0);
}
.aba {
	width: 425px;
	height: 206px;
	position: absolute;
	left: 50%;
	bottom: 0;
	border-radius: 50%;
	border-top: 52px solid #D82126;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 52px solid transparent;
	transform: translate(-50%,0);
	z-index: 4;
}
.chapa {
	width: 171px;
	height: 112px;
	cursor: pointer;
	position: absolute;
	left: 50%;
	top: -150px;
	border-radius: 50%;
	background-color: #ebf5ff;
	transform: translate(-50%,0);
	z-index: 2;
	border-top: 6px solid #d4e3fa;
	border-left: 9px solid #d4e3fa;
	border-right: 9px solid #d4e3fa;
	border-bottom: 6px solid #d4e3fa;
}
.chapa span {
	margin: -11px 0 0 -6px;
	font-family: mario;
	font-size: 113px;
	color: #c7342c;
	text-align: center;
	display: block;
}

.costeleta {
	width: 27px;
	height: 160px;
	position: absolute;
	top: 25px;
	background-color: #642611;
	z-index: 1;
}
.costeleta-esquerda {
	left: -27px;
	border-radius: 0 0 0 20px;
}
.costeleta-direita {
	right: -27px;
	border-radius: 0 0 20px 0;
}

.orelha {
	width: 84px;
	height: 150px;
	position: absolute;
	top: 90px;
	border-radius: 50%;
	background-color: #ee9366;
}
.orelha-esquerda {
	left: -70px;
	transform: rotate(-8deg);
}
.orelha-esquerda:after {
	content: "";
	width: 52px;
	height: 52px;
	position: absolute;
	top: 59px;
	left: 26px;
	border-radius: 50%;
	border-top: 11px solid #fa774d;
	border-left: 3px solid #fa774d;
}
.orelha-esquerda:before {
	content: "";
	width: 60px;
	height: 100px;
	position: absolute;
	top: 18px;
	left: 14px;
	border-radius: 50%;
	border-top: 11px solid #fa774d;
	border-bottom: 11px solid transparent;
	transform: rotate(-10deg);
}
.orelha-direita {
	right: -70px;
	transform: rotate(8deg);
}
.orelha-direita:after {
	content: "";
	width: 52px;
	height: 52px;
	position: absolute;
	top: 59px;
	right: 26px;
	border-radius: 50%;
	border-top: 11px solid #fa774d;
	border-right: 3px solid #fa774d;
}
.orelha-direita:before {
	content: "";
	width: 60px;
	height: 100px;
	position: absolute;
	top: 18px;
	right: 14px;
	border-radius: 50%;
	border-top: 11px solid #fa774d;
	border-bottom: 11px solid transparent;
	transform: rotate(10deg);
}

.sobrancelha {
	width: 101px;
	height: 130px;
	position: absolute;
	top: -5px;
	border-radius: 50%;
	border-top: 35px solid #211715;
	border-bottom: 35px solid transparent;
}
.sobrancelha-esquerda {
	left: 39px;
}
.sobrancelha-direita {
	right: 39px;
}

.olho {
	width: 87px;
	height: 117px;
	position: absolute;
	top: 55px;
	overflow: hidden;
	z-index: 2;
	background-color: #f3fdff;
}
.iris {
	width: 63px;
	height: 101px;
	position: absolute;
	bottom: 6px;
	border-radius: 47%;
	background-color: #1374c3;
	transform: translate(0,0);
	transition: transform 200ms ease-in-out;
}
.pupila {
	width: 41px;
	height: 64px;
	position: absolute;
	top: 21px;
	border-radius: 47%;
	background-color: #27282d;
}
.brilho {
	width: 17px;
	height: 17px;
	position: absolute;
	top: 7px;
	border-radius: 50%;
	background-color: #fffefb;
}
.olho-esquerdo {
	left: 56px;
	border-radius: 48% 48% 35% 38%;
}
.olho-esquerdo .iris { right: 0; }
.olho-esquerdo .pupila { right: 6px; }
.olho-esquerdo .brilho { right: 12px; }
.olho-direito {
	right: 59px;
	border-radius: 48% 48% 35% 38%;
}
.olho-direito .iris { left: 0; }
.olho-direito .pupila { left: 6px; }
.olho-direito .brilho { left: 12px; }

/* OLHO FECHADO */

.olho:after {
	content: "";
	width: 100%;
	height: 0;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ee9366;
	animation: piscar 6s infinite;
}

.nariz {
	width: 178px;
	height: 145px;
	position: absolute;
	top: 123px;
	left: 50%;
	border-radius: 50%;
	background-color: #ffc796;
	z-index: 6;
	transform: translate(-50%,0);
}

.bigode {
	width: 350px;
	height: 190px;
	position: absolute;
	top: 70px;
	left: 50%;
	border-radius: 50%;
	z-index: 4;
	transform: translate(-50%,0);
	border-bottom: 70px solid #332a2b;
	border-top: 60px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
.bigode .bolinha-1 {
	width: 72px;
	height: 72px;
	position: absolute;
	left: -1px;
	bottom: -64px;
	border-radius: 50%;
	background-color: #332a2b;
}
.bigode .bolinha-2 {
	width: 72px;
	height: 72px;
	position: absolute;
	left: 49px;
	bottom: -95px;
	border-radius: 50%;
	background-color: #332a2b;
}
.bigode .bolinha-3 {
	width: 67px;
	height: 67px;
	position: absolute;
	left: 104px;
	bottom: -115px;
	border-radius: 50%;
	background-color: #332a2b;
}
.bigode .bolinha-4 {
	width: 67px;
	height: 67px;
	position: absolute;
	right: 114px;
	bottom: -115px;
	border-radius: 50%;
	background-color: #332a2b;
}
.bigode .bolinha-5 {
	width: 72px;
	height: 72px;
	position: absolute;
	right: 55px;
	bottom: -95px;
	border-radius: 50%;
	background-color: #332a2b;
}
.bigode .bolinha-6 {
	width: 72px;
	height: 72px;
	position: absolute;
	right: -1px;
	bottom: -64px;
	border-radius: 50%;
	background-color: #332a2b;
}

.boca {
	width: 161px;
	height: 60px;
	position: absolute;
	left: 50%;
	bottom: -90px;
	border-radius: 50%;
	border-bottom: 3px solid #7e4830;
	border-top: 3px solid transparent;
	z-index: 2;
	transform: translate(-50%,0);
}

.corpo {
	width: 460px;
	height: 62px;
	position: absolute;
	left: 50%;
	bottom: -144px;
	overflow: hidden;
	border-radius: 1030% 1030% 0 0;
	background-color: #dc0009;
	transform: translate(-50%,0);
}
.corpo:after {
	content: "";
	width: 90px;
	height: 200px;
	position: absolute;
	top: -30px;
	left: 93px;
	border-left: 56px solid #1c55e2;
	border-radius: 50%;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 56px solid transparent;
}
.corpo:before {
	content: "";
	width: 90px;
	height: 200px;
	position: absolute;
	top: -30px;
	right: 93px;
	border-right: 56px solid #1c55e2;
	border-radius: 50%;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 56px solid transparent;
}

button {
	padding: 20px 40px;
	font-family: arial, sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	text-shadow: 1px 1px 1px #4a1418;
	cursor: pointer;
	position: absolute;
	top: 20px;
	left: 20px;
	border-radius: 5px;
	background: #bd3839;
}

/* ANIMAÇÃO DOS OLHOS PISCANDO */

@keyframes piscar {
	0% { height: 0; }
	95% { height: 0; }
	97.5% { height: 100%; }
	100% { height: 0; }
}


.odyssey .iris { transform: translate(0,-36px); }
.odyssey .chapa { display: none; }

.chapeu-olhos { display: none; }
.odyssey .chapeu-olhos {
	width: 224px;
	height: 190px;
	cursor: pointer;
	display: block;
	position: absolute;
	top: -240px;
	left: 50%;
	transform: translate(-50%,0);
	z-index: 4;
}
.odyssey .chapeu-olho {
	width: 114px;
	height: 190px;
	overflow: hidden;
	position: absolute;
	top: 0;
	border-radius: 50%;
	border-top: 17px solid #707989;
	border-bottom: 10px solid #707989;
	background-color: #fafbff;
}
.odyssey .chapeu-olho-esquerdo {
	left: 0;
	border-left: 9px solid #707989;
	border-right: 6px solid #707989;
	transform: rotate(-10deg);
}
.odyssey .chapeu-olho-direito {
	right: 0;
	border-left: 6px solid #707989;
	border-right: 9px solid #707989;
	transform: rotate(10deg);
}
.odyssey .chapeu-iris {
	width: 52px;
	height: 76px;
	position: absolute;
	bottom: 17px;
	border-radius: 50%;
	background-color: #9e1b2a;
}
.odyssey .chapeu-olho-esquerdo .chapeu-iris { right: 5px; }
.odyssey .chapeu-olho-direito .chapeu-iris { left: 5px; }
.odyssey .chapeu-pupila {
	width: 30px;
	height: 47px;
	position: absolute;
	left: 50%;
	bottom: 17px;
	border-radius: 50%;
	background-color: #050400;
	transform: translate(-50%,0);
}
.odyssey .chapeu-brilho {
	width: 15px;
	height: 15px;
	position: absolute;
	left: 50%;
	top: -3px;
	border-radius: 50%;
	background-color: #fdfdff;
	transform: translate(-50%,0);
}

/* OLHO FECHADO */

.odyssey .chapeu-olho:after {
	content: "";
	width: 100%;
	height: 0;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #707989;
	animation: piscar 6s infinite;
}